// Imports the global colors
@import './_colors.scss';

// Media queries
@mixin breakpoint-phone {
    @media (max-width: 415px) { @content };
      
  }
@mixin breakpoint-desktop {
    @media (max-width: 1000px) { @content };
      
  }
  @mixin breakpoint-phone-horizontal {
      @media (min-width: 416px) and (max-width: 812px) { @content };
  }
@mixin breakpoint-desktop {
    @media (max-width: 800px) { @content };
      
  }
@mixin breakpoint-phone {
    @media (max-width: 415px) { @content };
      
  }
// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

$amount: 1;

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;
$arial: Arial, Helvetica, sans-serif;

$easing: cubic-bezier(.25,1.7,.25,.8);
$easing-arrows: all .3s cubic-bezier(.0025,.7,.15,1);
$duration: 0.5s;
$duration-btn: 0.1s;

//page specific colors for testing


body {
    div.carousel-box {
        position: relative;
        width:  100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;


        div.my-name-container {
            position: relative;
            z-index: 800;
            top: -49.5vh;
            text-align: right;
            width: 98vw;
            font-family: $righteous;
            color: color(primary-blue-dark);
            h1.my-name-text {
                position: absolute;
                margin: 0px;
                width: 100%;
                top: 0px;
                font-size: 25px;
            }
            p.my-name-gallery-title {
                position: absolute;
                margin: 0px;
                top: 6px;
                right: 52px;
                font-size: 21px;
                font-family: $confortaa;
            }
                    
            @include breakpoint-phone {
                    top: 17px;
                    position: absolute;
                    right: 6px;
                    width: 100vw;
                    display: block;
                    z-index: 800;
                }
                @include breakpoint-phone-horizontal {
                    top: 50px;
                    position: absolute;
                    right: 8px;
                    width: 100vw;
                    display: block;
                    z-index: 800;
                    h1.my-name-text {
                        right: 0px;
                        top: 25px;
                    }
                    p.my-name-gallery-title {
                        right: 0px;
                    }
                }
        }

        div.img-counter-container {
            position: absolute;
            top: -.45vh;
            z-index: 800;
            width: 100vw;
            p.img-counter-text {
                position: absolute;
                color: color(primary-blue-dark);
                font-family: $dosis;
                font-weight: bolder;
                font-size: 12px;
                text-align: left;
                left: 49%;
            }
            @include breakpoint-phone {
                position: absolute;
                top: 35px;
                width: 100vw;
                right: -19vw;
                p.img-counter-text {
                    font-size: 18px;
                    color: color(accent-gray-dark);
                }
            }
            @include breakpoint-phone-horizontal {
                top: 90px;
                width: 100vw;
                right: -35vw;
                p.img-counter-text {
                    font-size: 18px;
                    color: color(accent-gray-dark);
                }
            }
        }
        img.visible-img {
            position: absolute;
            height: 85vh;
            width: none;
            top: 33px;
            border: 1px solid color(primary-gray);
            -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            transition: all $duration $easing;
            @include breakpoint-phone {
                width: 90vw;
                top: 20px;
                object-fit: contain;
                border: 0px;
                -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0);
                -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0);
                box-shadow: 0px 10px 26px -4px rgba(0,0,0,0);
                
            }
            @include breakpoint-phone-horizontal {
                top: 0px;
                height: 100vh;
            }
        }

        div.arrow-container {
            // position: relative;
            // width: 135px;
            // left: 30px;
            // top: 300px;
            z-index: 1000;
            @include breakpoint-phone-horizontal {
                position: absolute;
                width: 139px;
                left: 70vw;
                bottom: 54px;
            }
            @include breakpoint-phone {
                top: 0;
                
            }
            a.btn-left {
                position: absolute;
                z-index: 800;
                background: transparent;
                width: 50px;
                height: 50px;
                left: 0;
                @include breakpoint-phone {
                    top: 0px;
                    left: -5px;
                }

// left arrow
            div.btn-arrow-container-left {
                position: fixed;
                background-color: transparent;
                width: 50px;
                height: 100px;
                top: 43vh;
                left: 40px;
                cursor: pointer;
                &:hover {
                    span.btn-arrow-top {
                        left: 0px;
                        top: 45px;
                        transition: $easing-arrows;
                        background: color(bg);
                        width: 38px;
                        transform: rotate(0deg);
                    }
                    span.btn-arrow-bottom {   
                        left: 0px; 
                        transition: $easing-arrows;
                        background:color(bg);
                        width: 38px;
                        transform: rotate(0deg);
                        top: 45px;
                    }
                }
                &:active {
                    span.btn-arrow-top {
                        background: color(arrow-activeColor);
                        transform: scale(0.85);
                    }
                    span.btn-arrow-bottom { 
                        background: color(arrow-activeColor);
                        transform: scale(0.85);
                    }
                }
                span.btn-arrow-top {
                    transition: $easing-arrows;
                    height: 2px;
                    width: 35px;
                    left: 0;
                    top: 35px;
                    background: color(primary-green);
                    z-index: 1000;
                    position: absolute;
                    transform: rotate(-50deg);
                }
                span.btn-arrow-bottom {
                    transition: $easing-arrows;
                    top: 61px;
                    left: 0;
                    height: 2px;
                    width: 35px;
                    background: color(arrow-bottoms);
                    z-index: 1000;
                    position: absolute;
                    transform: rotate(50deg);
                }
            }
        }

         a.btn-right {
            position: absolute;
            z-index: 800;
            background: transparent;
            height: 50px;
            width: 50px;
            right: 0;
            @include breakpoint-phone {
                top: 0px;
            }
            

            div.btn-arrow-container-right {
                position: fixed; 
                background-color: transparent;
                width: 50px;
                height: 100px;
                top: 43vh;
                right: 40px;
                cursor: pointer;
                &:hover {
                    span.btn-arrow-top {
                        top: 45px;
                        transition: $easing-arrows;
                        background: color(bg);
                        width: 38px;
                        transform: rotate(0deg);
                    }
                    span.btn-arrow-bottom {    
                        transition: $easing-arrows;
                        background:color(bg);
                        width: 38px;
                        transform: rotate(-90deg);
                        top: 45px;
                    }

                }
                &:active {
                    span.btn-arrow-top {
                        background: color(arrow-activeColor);
                        transform: scale(0.85);
                    }
                    span.btn-arrow-bottom { 
                        background: color(arrow-activeColor);
                        transform: scale(0.85) rotate(-90deg);
                    }
                }
                
               @include breakpoint-phone {
                right: 0px;
                top: 0px;
            }
                    span.btn-arrow-top {
                        transition: $easing-arrows;
                        height: 2px;
                        width: 35px;
                        left: 0;
                        top: 35px;
                        background: color(primary-green);
                        z-index: 1000;
                        position: absolute;
                        transform: rotate(50deg);
                    }
                    span.btn-arrow-bottom {
                        transition: $easing-arrows;
                        top: 61px;
                        left: 0;
                        height: 2px;
                        width: 35px;
                        background: color(arrow-bottoms);
                        z-index: 1000;
                        position: absolute;
                        transform: rotate(-50deg);
                    }
                }
            }
        }
    }
};

@keyframes fadeAnimation { 
  0%{
      background: color(primary-blue-dark);
    }
  50%{
      background: color(primary-gray);
    }
  100%{
    background: color(primary-blue-dark);
  }
  
}
@keyframes btnColorChange {
    0%{
        color: color(primary-blue);
    }
    100%{
        color: color(bg);
      }
}