div.carouselBlindImg-parent-box {
    h1.carouselBlindImg {
        position: relative;
        color: yellow;
        z-index: 1000;
    }
    img {
        height: 100px;
        width: 200px;
        position: relative;
        z-index: 1000;
    }
}