// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;

body {
    div.carousel-box {
        position: relative;
        width:  100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: color(primary-white);

        a.btn-left {
            position: absolute;
            z-index: 900;
            background: transparent;
            height: 100vh;
            width: 45vw;
            left: 0;
// left arrow
            div.btn-arrow-container-left {
            margin-left: 2.45em;
            margin-top: 49vh;
            background:white;
            border-radius: 32%;
            width: 2.45em;
            height: 2.45em;
            text-align: center;
            
                h1.btn-arrow-left {
                    color: blue;
                    font-family: $confortaa;
                    text-align: center;
                }
            }
        }
        img.visible-img {
            position: absolute;
            height: 90vh;
        }

         a.btn-right {
            position: absolute;
            z-index: 900;
            background: transparent;
            height: 100vh;
            width: 45vw;
            right: 0;
            // right arrow
            div.btn-arrow-container-right {
                margin-right: 2.45em;
                margin-top: 49vh;
                background:white;

                h1.btn-arrow-right {
                    color: magenta;
                    text-align: right;
                    font-family: $confortaa;
                }
            }
        }
    }
}
