// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

$amount: 1;

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;

$easing: cubic-bezier(.25,1.7,.25,.8);
$duration: 0.5s;

body {
    div.carousel-box {
        position: relative;
        width:  100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: color(primary-white);


        div.my-name-container {
            top: -2px;
            position: absolute;
            right: 6px;
            width: 100vw;
            display: block;
            z-index: 1000;
            h1.my-name-text {
                position: absolute;
                font-family: $dosis;
                font-size: 22px;
                margin: 0;
                color: color(primary-gray);
                right: 0px;
            }
        }

        div.img-counter-container {
            position: absolute;
            left: 49vw;
            top: -1.45vh;
            z-index: 1000;
            width: 50px;
            p.img-counter-text {
                position: absolute;
                color: color(primary-gray);
                font-family: $dosis;
                font-size: 12px;
            }
        }

        a.btn-left {
            position: absolute;
            z-index: 900;
            background: transparent;
            height: 200px;
            width: 45vw;
            left: 0;

// left arrow
            div.btn-arrow-container-left {
                position: absolute;
                margin-left: 2.45em;
                top: 40%;
                background: none;
                border-radius: 50%;
                width: 2.45em;
                height: 2.45em;
                text-align: center;
                cursor: pointer;
            
                h1.btn-arrow-left {
                    position: relative;
                    color: color(primary-gray);
                    font-family: $confortaa;
                    text-align: center;
                    margin: .055em .255em .055em 0em;
                    &:hover {
                         color: color(primary-blue)
                    }
                }
            }
        }
        img.visible-img {
            position: absolute;
            height: 90vh;
            width: none;
            border: 1px solid color(primary-gray);
            -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.55);
            transition: all $duration $easing;
        }

         a.btn-right {
            position: absolute;
            z-index: 900;
            background: transparent;
            height: 200px;
            width: 45vw;
            right: 0;
            

            div.btn-arrow-container-right {
                position: absolute;
                right: 0;
                top: 40%;
                margin-right: 2.45em;
                background: color( translucent-white);
                border-radius: 50%;
                width: 2.45em;
                height: 2.45em;
                text-align: right;
                cursor: pointer;

                    h1.btn-arrow-right {
                        position: relative;
                        margin: .055em .255em .055em 0em;
                        color: color(primary-gray);
                        text-align: right;
                        font-family: $confortaa;
                        &:hover {
                            color: color(primary-blue)
                       }
                    }
                }
        }
    }
}
