
div.carouselIMGCompiler-Parent {
    position: absolute;
    width:  100vw;
    height: 98vh;
    left: 7vw;
    top: 1vh;
    margin: 0px;
    padding: 0px;
    z-index: 900;
    background: transparent;

    div.carouselIMGCompiler-Fallback {
        position: absolute;
        left: 7vw;
        top: 1vh;
        margin: 31vw;
        padding: 0px;
        z-index: 1000;
        background: transparent;
        color: transparent;
    }
    img.carouselIMGCompiler-visableIMG {
        position: inherit;
        height: 98vh;
        margin: 0px;
        padding: 0px;
        left: inherit;
        width: 70vw;
        bottom: 0px;
        object-fit: contain;
        z-index: 901;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity:1;}
    }