div.carouselBlindImg-parent-box {
    position: fixed;
    z-index: 1000;
    top: -100px;
    
    div.carouselBlindImg-child-box{
        position: fixed;
        background: transparent;
        margin: 0;
        padding: 0;
        height: 100px;
        width: 200px;

        img.carouselBlindImg-image-preLoaded {

            position: relative;
            margin: auto;
            padding: 0;
            height: 100%;
            // width: inherit;
    }}
}