div.carouselBlindImg-parent-box {
    position: fixed;
    z-index: 1000;
    top: -110vh;
    
    div.carouselBlindImg-child-box{
        position: fixed;
        background: transparent;
        margin: 0;
        padding: 0;

        img.carouselBlindImg-image-preLoaded {
            height: 98vh; 
            position: relative;
            margin: auto;
            padding: 0;
    }}
}