// All global app colors can live here. They are imported to each individual scss file to be used at will. This is for ease of orginization.

$colors: (

    // Solids
    bg: black,
    primary-gray: #b1b1b1,
    primary-red: #c23c3e,
    primary-brown: #d85d38,
    primary-green: #b8d4bf,
    primary-white: #fff,
    primary-blue: #91f1f9,
    accent-blue: #00eaff,
    accent-skyblue: rgb(163, 212, 221), 
    accent-orange: #f4a647,
    accent-green: #788a6c,
    accent-gray: #646C79,
    accent-white: #f5f5f5,
    accent-red:#ff1519,

    // colors lighten
    primary-green-light: lighten(#b8d4bf, 10%),
    primary-blue-light: lighten(#91f1f9, 10%),
    primary-red-light: lighten(rgb(195, 60, 62), 10%),
    accent-gray-dark: rgb(39, 40, 43),

    // colors darkened
    primary-red-dark: darken(rgb(195, 60, 62), 30%),
    primary-blue-dark: darken(#91f1f9, 35%),
    // reduced opacity colors

  
    

     // Gradients:
    buttons: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 60%,#d24b5a 60%,#ba2737 65%,#f18e99 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    gradient-bg: linear-gradient(180deg,  rgba(145, 241, 249, 1) 5%, darken(#91f1f9, 10%) 20%, rgba(31, 48, 68, 1) 95%),
    font-color: rgb(219, 219, 219),

  

    gradient-primary-black: linear-gradient(0deg, color(bg), transparent 80%),
    gradient-primary-black-info: linear-gradient(0deg, color(bg), transparent 98%),
    gradient-primary-green: linear-gradient(0deg, color(primary-green-light) 0%, color(primary-green-dark) 100%),

    gradient-blue: linear-gradient(to bottom, #b8e1fc 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,#6ba8e5 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%),

    //semi-tranlucent colors
    translucent-black: rgba(0,0,0,.25),
    translucent-white: rgba(255, 255, 255, 0.3),
    tranlucent-accent-green: rgba(184, 212, 191, 0.8),
    transluce-dark-blue: rgba(31, 48, 68, 0.9),
    btnBackground: rgba(0,0,0,.3),
    btnBackgroundBlue: rgba(145, 241, 249, .4),
    translucent-blue: rgba(189,243,253,.25),
);

