// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;

div.footer-box {
    position: fixed;
    bottom: -10px;
    right: -10px;
    z-index: 1000;
    height: 24px;
    padding-left: 20px;
    padding-bottom: 16px;
    padding-right:  16px;
    border-radius: 13px;

    div.footer{
        animation: fadeIn 5s;
        p.copyright-text {
            font-family: $confortaa;
            text-align: right;
            margin-right: .5vw;
            color: color(primary-blue);
            font-size: 10px;
        }
    }
};


@keyframes fadeIn { 
    /* the fadeIn delay is set by adjusting the middle percentage in conjuction with the full sequence duration length above. */
  0%{opacity:0} /* at 0% completion of sequence the opcacity is set to 0 = 0% visible */
  50%{opacity: 0;}/* at 30% completion of sequence the opcacity is set to 0 = 0% visible  - the opacity starts the fade in at 30% sequence completion*/
  100%{opacity: 1}/* at 100% completion of sequence the opcacity is set to 1 = 100% visible - thus completeing the fade sequence*/
}