// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;


div.info-button-parent-box {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 800;
    width: 100vw;
    height: 100vh;
    border: none;

    button.into-button-child-border {
        position: absolute;
        bottom: 0px;
        border-bottom: 3px solid color(bg);
        border-left: none;
        border-top: none;
        background: color(gradient-primary-black);
        width: 100vw;
        height: 5em;
        animation: fadeIn 5s; // fades in the info button and bar accross the bottom of the viewport

        a.info-button-text {
            position: absolute;
            color: color(primary-blue);
            text-align: center;
            font-weight: bolder;
            font-size: 16px;
            font-family: $confortaa;
            margin: .10em 2.2em;
            padding: .2em .1em 0em .1em;
            z-index: 800;
            border: 2px solid color(primary-blue);
            border-radius: 50%;
            width: 1em;
            height: 1em;
            left: 0px;
            bottom: 2px;
            &:hover {
                border-color: color(primary-red);
                background: color(primary-red);
            }
        }
    }
    div.info-container {
        background: color(gradient-bg);
        position: absolute;
        bottom: 0;
        padding: 30px;
;
        h2.image-title-main {
            color: color(primary-blue);
            font-family: $montserrat;
            font-size: 14px;
            display: inline;    
        }
        h3 {
            color: color(primary-blue);
            font-family: $montserrat;
            font-size: 12px;
        }
        p {
            color: color(primary-blue);
            font-family: $montserrat;
            font-size: 9px;
        }
        div.image-archtect {
            h3.title-architect {
                display: inline-block;
            }
            h3.name-architect {
                margin-left: 1vw;
                display: inline-block;
            }
        }
        div.image-location {
            h3.title-location {
                display: inline-block;
            }
            h3.name-location {
                margin-left: 1vw;
                display: inline-block;
            }
        }

        div.image-story {
            h3.image-title-story {
                display: inline-block;
            }
            p.image-story {
                display: block;
                
            }
        }
    }
};


@keyframes fadeIn { 
    /* the fadeIn delay is set by adjusting the middle percentage in conjuction with the full sequence duration length above. */
  0%{opacity:0} /* at 0% completion of sequence the opcacity is set to 0 = 0% visible */
  50%{opacity: 0;}/* at 30% completion of sequence the opcacity is set to 0 = 0% visible  - the opacity starts the fade in at 30% sequence completion*/
  100%{opacity: 1}/* at 100% completion of sequence the opcacity is set to 1 = 100% visible - thus completeing the fade sequence*/
}