// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;

// arrow functions

$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;

div.info-button-parent-box {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 800;
    width: 100vw;
    height: 100vh;
    border: none;

div.arrow-up {
    background: color(gradient-primary-black);
    // border-bottom: .1px solid color(primary-blue);
    // height: 13vh;

        a.arrow-icon {
            height: 0em;
            display: block;
            padding: 0.5em;
            position: relative;
            cursor: pointer;
            z-index: 500;
      

                span.left-bar {
                    position: absolute;
                    background-color: transparent;
                    top: 38px;
                    left: 7px;
                    width: 17px;
                    height: 1.5px;
                    display: block;
                    float: right;
                    border-radius: 0px;
                    margin-left: 47.3%;
                    &:after {
                        content: "";
                        background-color: color(primary-blue);
                        width: 17px;
                        height: 1.5px;
                        display: block;
                        float: right;
                        border-radius: 0px;
                        transition: all $duration $easing;
                        z-index: -1;
                    }
                }

                span.right-bar {
                    position: absolute;
                    background-color: transparent;
                    top: 38px;
                    left: 20px;
                    width: 17px;
                    height: 1.5px;
                    display: block;
                    //   transform: rotate(-35deg);
                    float: right;
                    border-radius: 0px;
                    margin-left: 47.3%;
                    &:after {
                        content:"";
                        background-color: color(primary-blue);
                        width: 17px;
                        height: 1.5px;
                        display: block;
                        float: right;
                        border-radius: 0px;
                        transition: all $duration $easing;
                        z-index: -1;
                    }
                }
            }
}

        
        
    
      

    a.into-button-child-border {
        position: absolute;
        bottom: 0px;
        border-bottom: 3px solid color(bg);
        border-left: none;
        border-top: none;
        width: 100vw;
        height: 5em;
        animation: fadeIn 5s; // fades in the info button and bar accross the bottom of the viewport

        div.info-button-text {
            position: absolute;
            color: color(primary-blue);
            text-align: center;
            font-weight: bolder;
            font-size: 16px;
            font-family: $confortaa;
            margin: .10em 2.2em;
            padding: .2em .1em 0em .1em;
            z-index: 800;
            border: 2px solid color(primary-blue);
            border-radius: 50%;
            width: 1em;
            height: 1em;
            left: 0px;
            bottom: 2px;
            &:hover {
                border-color: color(primary-red);
                background: color(primary-red);
            }
        }
    }
    div.info-container {
        background: color(btnBackgroundBlue);
        position: absolute;
        padding: 1em 0vw 1em 3.5vw;
        width: 100vw;
        border-top: 3px solid color(bg);

        h2.image-title-main {
            color: color(bg);
            font-family: $montserrat;
            font-size: 14px;
            font-weight: bolder;
            display: inline;    
            text-decoration: underline;
        }
        h3 {
            font-family: $montserrat;
            font-size: 12px;
        }
        p {
            font-family: $montserrat;
            font-size: 9px;
        }
        div.image-archtect {
            h3.title-architect {
                color: color(bg);
                display: inline-block;
                margin: 0px;
            }
            h3.name-architect {
                margin: 0px 0px 0px 1vw;
                display: inline-block;
                color: color(bg);
                a {
                    text-decoration: none;
                    color: color(bg);
                    &:hover {
                        color: color(primary-red);
                    };
                }
            }
        }
        div.image-location {
            h3.title-location {
                display: inline-block;
                margin: 0px;
                color: color(bg);
            }
            h3.name-location {
                color: color(bg);
                margin: 0px 0px 0px 1vw;
                display: inline-block;
            }
        }

        div.image-story {
            h3.image-title-story {
                display: inline-block;
                margin: 0px;
                color: color(bg);
            }
            p.image-story {
                color: color(bg);
                margin: 0px 0px 1vh 0px;
                display: inline-block;
                font-size: 11px;
            }
        }
    }
};


@keyframes fadeIn { 
    /* the fadeIn delay is set by adjusting the middle percentage in conjuction with the full sequence duration length above. */
  0%{opacity:0} /* at 0% completion of sequence the opcacity is set to 0 = 0% visible */
  50%{opacity: 0;}/* at 30% completion of sequence the opcacity is set to 0 = 0% visible  - the opacity starts the fade in at 30% sequence completion*/
  100%{opacity: 1}/* at 100% completion of sequence the opcacity is set to 1 = 100% visible - thus completeing the fade sequence*/
}