/* landing and logo page styling sheet. Uses sass*/

// Imports the global colors
@import './_colors.scss';

// Media queries
@mixin breakpoint-phone {
  @media (max-width: 415px) { @content };
    
}
@mixin breakpoint-phone-horizontal {
    @media (min-width: 416px) and (max-width: 812px) { @content };
}


// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;
// scss styles for the logo component page
div.body-box {
    display: block;
    position: absolute;
    background: transparent;
// the box below is used for loading. it fades in the background image so that there is no loading delay for the user
    // div.landing-fadeInBox {
    //     position: fixed;
    //     background: color(gradient-bg);
    //     height: 100vh;
    //     width: 100vw;
    //     z-index: 2;
    //     animation: fadeIn 5s; 
    //     // uses @keyframes fadeOut method at the bottom
    //     opacity: 0;
    //     box-shadow: -1px 19px 42px 4px rgba(0,0,0,0.7);
    // }
// styles for the static background image. Rotates through this images in the landing folder.
        img.bgImage {
            width: 100vw;
            height: 100vh;
            top: 0;
            bottom: 0;
            object-fit: cover;
            position: absolute;
        }

        div.logoBox {

            // opacity: 0;
            position: absolute;
            background: color(translucent-black);
            left: 35vw;
            top: 16vh;
            padding: 10px;
            z-index: 500;
            border: solid .1px color(accent-blue);
            -webkit-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0.8);
            -moz-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0.8);
            box-shadow: -1px 19px 42px 4px rgba(0,0,0,0.9);
            animation: easeColorIn 3.5s;
            @include breakpoint-phone  {    
                left: 15vw;
                top: 28vh;
                background: color(translucent-black);
                border: solid .1px rgba(145, 241, 249, 0);
                -webkit-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
                -moz-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
                box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
             }
             @include breakpoint-phone-horizontal {
                left: 35vw;
                top: 15vh;
                background: color(translucent-black);
                border: solid .1px rgba(145, 241, 249, 0);
                -webkit-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
                -moz-box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
                box-shadow: -1px 19px 42px 4px rgba(0,0,0,0);
             }
            // ZSP logo in plain text
            div.ZS-logoBox-text {
                font-family: Righteous;
                font-size: 11vw;
                color: color(primary-blue);
                // animation: easeColorIn 3.5s;
                background: rgba(0, 0, 0, .7);
                border: 1.2vw solid color(primary-blue);
                padding-left: 3.55vw;
                padding-right: 2.5vw;
                padding-bottom: 0vw;
               &:hover {
                    opacity: 50%;
               }
                -webkit-font-smoothing: antialiased;
                @include breakpoint-phone  {    
                    font-size: 30vw;
                 }
            }

            // zac seewald logo in plain text 
            div.ZS-Logo-text {
                font-size: 4vw;
                text-align: center;
                letter-spacing: .25vw;
                font-family: Righteous;
                letter-spacing: none;
                -webkit-font-smoothing: antialiased;
                // animation: easeTextColorIn 3.5s;
                color: color(primary-blue);
                @include breakpoint-phone  {
                    color: color(primary-blue);
                    font-size: 9vw;
                    letter-spacing: .2vw;
                }
            }
            // styles for photography logo text
            div.photography-logo-text {
                font-size: 4vw;
                font-family: Righteous;
                text-align: center;
                margin-top: -1.3vw;
                -webkit-font-smoothing: antialiased;
                // animation: easeTextColorIn 3.5s;
                color: color(primary-blue);
                @include breakpoint-phone  {
                    color: color(primary-blue);
                    font-size: 8.5vw;
                }
            }
            }
            
     // Used in landing-fadeInBox above
            //  @keyframes fadeIn { 
            //      // Adjusts the opacity of the element and percentage of load completion
            //     0%{opacity: 1}  //at 0% of the load
            //     20%{opacity: 1} // targets the element at 20% completion
            //     100%{opacity:0}/* at 100% completion of sequence the opcacity is set to 0 = 100% visible - thus completeing the fade sequence*/
            // }
                // Used in ZS-logoBox-text above to fade the logo colors
             @keyframes easeColorIn { 
                  0%{
                    //   color: black; // text color
                    //   background: black;// element background
                    //   border-color: black;// element border color
                      opacity: 0;
                     } /* at 0% completion of sequence  */

                     50%{
                         opacity: 0;
                     }
                    
                    100%{  
                        // color: color(primary-blue);
                        // background: rgba(0,0,0,.7);
                        // border-color: color(primary-blue);
                        opacity: 1;
                    }
                }
                // Used in ZS-logo-text and photography-logo-text elements to fade in the color
                @keyframes easeTextColorIn { 
                  0%{  
                        color: color(primary-white); // text color
                        }
                    50%{
                        color: color(primary-white);
                    }
                    100%{  
                        color: color(primary-blue);
                    }
                }
}