// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};


// scss styles for the logo component page
div.body-box {
    left: 0px;
    top: 0px;
    position: relative;
    width: 200px;


// styles for the background image. should rotate through a special selected group in the final version
        img.bgImage {
            width: 100vw;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        div.logoBox {
            position: absolute;
            left: 35vw;
            top: 16vw;
            background: rgba($color: #000000, $alpha: 0.2);
            padding: 10px;

            img.logo {
                position: absolute;
                width: 30vw;
            }
            img.PhotographyLogo {
                width: 30vw;
                margin-top: 17vw;
            }
        }

}