// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};
div.nav-btn-parent {
   
        div.button-border {
            position: fixed;
            margin-left: 1.5em;
            margin-top: 1.5em;
            background: color(translucent-black);
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: 1px solid color(primary-blue);
            z-index: 1000;
            
            animation: fadeIn 5s;
            &:hover {
                border-color: color(primary-red);
                background: color(primary-red);
            }

      

    /* Button hamburger lines */
        div.button-line-top {
            position: relative;
            margin: auto;
            margin-top: 33%;
            background: color(primary-blue);
            border-radius: 15%;     
        }
        div.button-line-center {
            position: relative;
            margin: auto;
            margin-top: .34em;
            border-radius: 15%;
            background: color(primary-blue);
        }
        div.button-line-bottum {
            position: relative;
            margin: auto;
            margin-top: .34em;
            border-radius: 15%;
            background: color(primary-blue);
        }
    }
};


@keyframes fadeIn { 
    /* the fadeIn delay is set by adjusting the middle percentage in conjuction with the full sequence duration length above. */
  0%{opacity:0} /* at 0% completion of sequence the opcacity is set to 0 = 0% visible */
  50%{opacity: 0}/* at 30% completion of sequence the opcacity is set to 0 = 0% visible  - the opacity starts the fade in at 30% sequence completion*/
  100%{opacity: 1}/* at 100% completion of sequence the opcacity is set to 1 = 100% visible - thus completeing the fade sequence*/
}