// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// mixin 
@mixin breakpoint-desktop {
    @media (max-width: 800px) { @content };
      
  }
@mixin breakpoint-phone {
    @media (max-width: 415px) { @content };
      
  }


div.nav-btn-parent {
    position: fixed;
    z-index: 1000;
    top: 0;
   
        div.button-border {
            position: fixed;
            margin-right: 1.5em;
            margin-top: 1.5em;
            right: 0;
            background: transparent;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            // border: 1px solid color(primary-blue);
            z-index: 1000;
            padding: .2em;
            animation: fadeIn 1s;
            
            @include breakpoint-phone {
                left: 80vw;
                width: 3.6em;
                height: 3.6em;
                border: 2px solid color(primary-blue);
                background: transparent;
                border: none;
            }

      

    /* Button hamburger lines */
        div.button-line-top {
            position: relative;
            margin: auto;
            margin-top: 30%;
            background: color(accent-blue);
            border-radius: 15%;    
            @include breakpoint-phone {
                background: #303030;
            } 
        }
        div.button-line-center {
            position: relative;
            margin: auto;
            margin-top: .44em;
            border-radius: 15%;
            // background: color(primary-blue);
            @include breakpoint-phone {
                // background: #303030;
            } 
        }
        div.button-line-bottum {
            position: relative;
            margin: auto;
            margin-top: .44em;
            border-radius: 15%;
            background: color(accent-blue);
            @include breakpoint-phone {
                background: #303030;
            } 
        }
    }
};


@keyframes fadeIn { 
    /* the fadeIn delay is set by adjusting the middle percentage in conjuction with the full sequence duration length above. */
  0%{opacity:0} /* at 0% completion of sequence the opcacity is set to 0 = 0% visible */
  50%{opacity: 0}/* at 30% completion of sequence the opcacity is set to 0 = 0% visible  - the opacity starts the fade in at 30% sequence completion*/
  100%{opacity: 1}/* at 100% completion of sequence the opcacity is set to 1 = 100% visible - thus completeing the fade sequence*/
}