// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

div.button-border {
    position: absolute;
    margin-left: 1.5em;
    margin-top: 1.5em;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    border: .4vw solid color(primary);
    z-index: 1000;

/* Button hamburger lines */
    div.button-line-top {
        position: relative;
        margin: auto;
        margin-top: 33%;
        border-radius: 10%;
        background: color(primary);
    }
    div.button-line-center {
        position: relative;
        margin: auto;
        margin-top: 0.6vw;
        border-radius: 10%;
        background: color(primary);
    }
    div.button-line-bottum {
        position: relative;
        margin: auto;
        margin-top: 0.6vw;
        border-radius: 10%;
        background: color(primary);
    }
}
