// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

div.nav-page {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 900;  
    
    div.link-body {
        margin-top: 13vh;
    }
// Link Styles
    a {
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
        color: color(primary-blue);
        font-size: 4vw;
        text-decoration: none;
    }
// Home link Styles
    h1.link-nav-Home a {
        position: relative;
        &:hover {
            color: color(primary-red);
        }
    }
    // General link styles
    h1.link-nav-BTN a {
        position: relative;
        &:hover {
            color: color(primary-red);
        }
    }

}


// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
//  .btn-nav {
//     padding: 0em;
//  }
// }