// Imports the global colors
@import './_colors.scss';

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

div.nav-page {
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 900;  
    
    div.link-body {
        margin-top: 13vh;
    }
// Link Styles
    a {
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
        color: color(accent);
        font-size: 6vw;
        text-decoration: none;
    }
// Home link Styles
    h1.link-nav-Home a {
        position: relative;
        &:hover {
            color: color( nav-text-hover);
        }
    }
    // General link styles
    h1.link-nav-BTN a {
        position: relative;
        &:hover {
            color: color( nav-text-hover);
        }
    }

}

div.button-border {
    position: fixed;
    margin-left: 1.5em;
    margin-top: 1.5em;
    background: color(btnBackground);
    width: 3em;
    height: 3em;
    border: 1px solid white;
    z-index: 1000;

/* Button hamburger lines */
    div.button-line-top {
        position: relative;
        margin: auto;
        margin-top: 33%;
        border-radius: 15%;
    }

   div .button-line-center {
        position: relative;
        margin: auto;
        margin-top: .34em;
        border-radius: 15%;
    }
    div.button-line-bottum {
        position: relative;
        margin: auto;
        margin-top: .34em;
        border-radius: 15%;
    }
}
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
//  .btn-nav {
//     padding: 0em;
//  }
// }