// Imports the global colors
@import './_colors.scss';

// Media queries
@mixin breakpoint-phone {
    @media (max-width: 415px) { @content };
      
  }
  @mixin breakpoint-phone-horizontal {
      @media (min-width: 416px) and (max-width: 812px) { @content };
  }

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

$amount: 1;

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;
$righteous: 'Righteous', cursive;
$beasNueve: 'Bebas Neue', cursive;
$confortaa: 'Comfortaa', cursive;

div.profile-box {
   position: relative;
   width: 100vw;
   height: 100vh;
   background: transparent;
    -webkit-font-smoothing: antialiased;

    #link {
        position: fixed;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        right: 0;
        z-index: 1000;
        padding: 0vh 20px 0px 0px;
    }

    h1.about-title {
        position: fixed;
        right: 0px;
        top: 30px;
        color: color(accent-white);
        padding: 0vh 20px 0px 0px;
        font-family: $confortaa;
         -webkit-font-smoothing: antialiased;
         z-index: 700;
    }
    h1.client-title {
        position: fixed;
        right: 0px;
        top: 70px;
        color: color(accent-white);
        padding: 0vh 20px 0px 0px;
        font-family: $confortaa;
         -webkit-font-smoothing: antialiased;
         z-index: 700;
    }
    h1.services-title {
        position: fixed;
        right: 0px;
        top: 110px;
        color: color(accent-white);
        padding: 0vh 20px 0px 0px;
        font-family: $confortaa;
         -webkit-font-smoothing: antialiased;
         z-index: 700;
    }
    div.about-container {
        position: relative;
        z-index: 5;
            div.about-box {
                position: fixed;
                text-align: right;
                right: 0px;
                border-right: 5px solid color(primary-blue);
                border-top: 5px solid color(primary-blue);
                border-bottom: 5px solid color(primary-blue);
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                background: color(primary-blue-dark);
                height: 98.5vh;
                width: 80%;
                -webkit-font-smoothing: antialiased;
                z-index: 5;

            
                p.about-text {
                    position: relative;
                    z-index: 4;
                    padding: 36vh 20px 0px 20%;
                    color: color(accent-white);
                    font-size: 18px;
                    font-family: $montserrat;
                    -webkit-font-smoothing: antialiased;
                }
            }
            span.about-span {
                position: fixed;
                background: color(primary-blue);
                z-index: 0;
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                height: 100vh;
                width: 80%;
                -webkit-font-smoothing: antialiased;
            }
        }
    
    div.client-container { 
        position: relative;
        z-index: 3;
            div.clientList-box {
                    position: fixed;
                    text-align: right;
                    right: 0px;
                    border-right: 5px solid #91f1f9;
                    border-top: 5px solid #91f1f9;
                    border-bottom: 5px solid #91f1f9;
                    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                    background: color(primary-green);
                    height: 98.5vh;
                    width: 80%;
                    -webkit-font-smoothing: antialiased;
                    z-index: 3;

                #link {
                    color: color(primary-red-dark);
                    -webkit-font-smoothing: antialiased;
                    text-decoration: none;
                }
                p.clients-article {
                    position: relative;
                    padding: 27vh 20px 0px 25%;
                    color: #555;
                    font-size: 16px;
                    font-family: $montserrat;
                    -webkit-font-smoothing: antialiased;
                    z-index: 2;
                }
                ul.clientList-left {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: #555;
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 58vw;
                    -webkit-font-smoothing: antialiased;
                    z-index: 3;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                ul.clientList-center {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: #555;
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 20vw;
                    -webkit-font-smoothing: antialiased;
                    z-index: 3;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                ul.clientList-right {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: #555;
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 0;
                    -webkit-font-smoothing: antialiased;
                    z-index: 3;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
            span.client-span {
                position: fixed;
                background: #91f1f9;
                z-index: 0;
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                height: 100vh;
                width: 80%;
                -webkit-font-smoothing: antialiased;
            }
    }
    div.services-container {
        position: relative;
        z-index: 1;
            div.services-box {
                position: fixed;
                text-align: right;
                border-right: 5px solid gray;
                border-top: 5px solid gray;
                border-bottom: 5px solid gray;
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                background: #36373a;
                height: 98.5vh;
                width: 80%;
                    -webkit-font-smoothing: antialiased;
                #link {
                    color: color(primary-gray);
                    -webkit-font-smoothing: antialiased;
                    text-decoration: none;
                }
                p.services-article {
                    position: relative;
                    padding: 25vw 20px 0px 25%;
                    color: color(accent-blue);
                    font-size: 16px;
                    font-family: $montserrat;
                    -webkit-font-smoothing: antialiased;
                }
                ul.services-left {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: color(accent-blue);
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 58vw;
                    -webkit-font-smoothing: antialiased;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                ul.services-center {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: color(accent-blue);
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 20vw;
                    -webkit-font-smoothing: antialiased;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                ul.services-right {
                    position: absolute;
                    display: inline-block;
                    padding: 5vh 20px 0px 20%;
                    color: color(accent-blue);
                    font-size: 16px;
                    font-family: $montserrat;
                    right: 0;
                    -webkit-font-smoothing: antialiased;
                    li {
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
            span.services-span {
                position: fixed;
                background: #777;
                z-index: 0;
                clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
                height: 100vh;
                width: 80%;
                right: 10px;
                -webkit-font-smoothing: antialiased;
            }
    }
    img.profile-bg-image {
        position: fixed;
        z-index: 0;
        opacity: .5;
        width: 100vw;
        height: 101vh;
        left: -25px;
        object-fit: cover;
    }
    div.profile-socialMedia-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: transparent;
         -webkit-font-smoothing: antialiased;
        h1.profile-socialMedia-ZSPlogo-ZS {
            position: fixed;
            font-family: $righteous;
            top: 83.5vh;
            z-index: 702;
            left: 75px;
            font-size: 31px;
            margin: 0px;
            padding: 0px;
            color: color(primary-blue-dark);
        }
        h1.profile-socialMedia-ZSPlogo-P {
            position: fixed;
            font-family: $confortaa;
            top: 84.5vh;
            z-index: 702;
            left: 285px;
            font-size: 29px;
            margin: 0px;
            padding: 0px;
            color: color(primary-gray);
        }
          div.profile-socialMedia-box {
                position: relative;
                width: 100vw;
                height: 80px;
                top: 80vh;
                z-index: 700;
                a.profile-instagram-link {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 40px;
                    height: 40px;
                    margin: 22px 80px;
                    -webkit-font-smoothing: antialiased;
                    z-index: 700;
                    background: transparent;
                    cursor: pointer;
                    img.profile-instagram-logo {
                        position: relative;
                        z-index: 1000;
                        width: 37px;
                        height: 37px;
                        border-radius: 10px;
                        box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.35);
                        &:active {
                         box-shadow: 4px 4px 7px 0px rgba(0,0,0,0);
                         width: 36px;
                         height: 36px;
                         top: 1px;
                         left: 0px;
                         border-radius: 10px;
                         transition: .15s;
                        }
                    }

                }
                a.profile-linkedin-link {
                     position: absolute;
                     right: 0px;
                     top: 0px;
                     width: 40px;
                     height: 40px;
                     margin: 22px 198px;
                     -webkit-font-smoothing: antialiased;
                     z-index: 700;
                     background: transparent;
                     cursor: pointer;
                    img.profile-linkedin-logo {
                        position: relative;
                        z-index: 1000;
                        width: 39px;
                        height: 37px;
                        border-radius: 10px;
                        box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.35);
                        &:active {
                         box-shadow: 4px 4px 7px 0px rgba(0,0,0,0);
                         width: 38px;
                         height: 36px;
                         top: 1px;
                         left: 0px;
                         border-radius: 10px;
                         transition: .15s;
                        }
                    }
                }
                
                a.profile-twitter-link {
                     position: absolute;
                     right: 0px;
                     top: 0px;
                     width: 40px;
                     height: 40px;
                     margin: 22px 138px;
                     -webkit-font-smoothing: antialiased;
                     z-index: 700;
                     background: transparent;
                     cursor: pointer;
                    img.profile-twitter-logo {
                        position: relative;
                        z-index: 1000;
                        width: 36px;
                        height: 36px;
                        border-radius: 10px;
                        box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.35);
                        &:active {
                            box-shadow: 4px 4px 7px 0px rgba(0,0,0,0);
                            width: 35px;
                            height: 35px;
                            top: 1px;
                            left: 0px;
                            border-radius: 10px;
                            transition: .15s;
                        }
                    }
                }
                a.profile-email-link {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 40px;
                    height: 40px;
                    margin: 21px 20px;
                    -webkit-font-smoothing: antialiased;
                    z-index: 700;
                    background: transparent;
                    cursor: pointer;
                   img.profile-email-logo {
                       background: transparent;
                       position: relative;
                       z-index: 1000;
                       width: 40px;
                       height: 36px;
                       border-radius: 10px;
                       box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.35);
                       &:active {
                        box-shadow: 4px 4px 7px 0px rgba(0,0,0,0);
                        width: 39px;
                        height: 35px;
                        top: 1px;
                        left: 0px;
                        border-radius: 10px;
                        transition: .15s;
                       }
                   }
               }
             }
        }
}


